* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(56, 50, 62);
    color: #fff;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.game-board {
    display: flex;
    /*establish flex container*/
    flex-wrap: wrap;
    /*enable flex item to wrap*/
    justify-content: space-around;
    /* Distribute items evenly
    Start and end gaps are half the size of the space
    between each item */
}

.cell {
    display: flex;
    flex: 0 0 33.3%;
    /*don't grow  dont't shrink width */
    border: 2px solid #fff;
    height: 120px;
    width: 40px;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(n+7) {
    border-bottom: none;
}

.game-player {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.player {
    margin-inline: 18px;
    font-size: 24px;
    font-weight: 600;
}

.restartBtn {
    border: none;
    background: rgb(45, 60, 102);
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-block: 18px;
    /*top+bottom margin = block*/
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 7px;
}

.restartBtn:hover {
    background: rgb(72, 94, 154);
    ;
}

.cell.disabled {
    background: #3b5251;
}

#turn {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
}

#tur {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
}


@media screen and (max-width:551px) {
    .container h1 {
        font-size: 24px;
        margin-top: 20px;
    }

    .cell {
        border: 2px solid #fff;
        height: 120px;
        width: 40%;
        font-size: 50px;
    }

    .game-board {
        width: 70%;
    }

    .player {
        font-size: 25px;
        font-weight: 100;
    }

    .restartBtn {
        font-size: 20px;
        font-weight: 650;
        margin-block: 16px;
        /*top+bottom margin = block*/
        padding: 10px 30px;
    }

    .container {
        height: 70vh;
    }
}

@media screen and (max-width:322px) {
    .player {
        font-size: 20px;
        font-weight: 50;
    }
     .container h1 {
        font-size: 24px;
        margin-top: 30px;
    }

    .restartBtn {
        font-size: 20px;
        font-weight: 600;
        margin-block: 16px;
        /*top+bottom margin = block*/
        padding: 10px 30px;
    }
}
